# AutoML

PyCaret
* Main Site - https://pycaret.org/
* Docs - https://pycaret.readthedocs.io/en/latest/

## Table of Contents

* [Setup and Preprocessing](#setup)  
* [Compare Models](#compare)  
* [Create Model](#create)  
* [Tune Model](#tune)  
* [Evaluate Model](#evaluate)  
* [Finalize and Store Model](#finalize_and_store)

## Imports and Global Settings

In [1]:
import mlflow
import pandas as pd
from sqlalchemy import create_engine
from pycaret.regression import *

# Pandas Settings
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.options.display.max_info_columns = 200
pd.options.display.precision = 5


mlflow.set_tracking_uri('file:/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML')

## Database Connection

In [2]:
username = 'postgres'
password = ''
endpoint = ''
database = 'nba_betting'
port = '5432'

connection = create_engine(f'postgresql+psycopg2://{username}:{password}@{endpoint}/{database}').connect()

### Datasets

In [3]:
df = pd.read_sql_table('model_ready', connection)

<a id='basic_data_overview'></a>

## Basic Data Overview

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19833 entries, 0 to 19832
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   game_id                    19833 non-null  object
 1   TARGET_actual_home_margin  19800 non-null  float64
 2   home_team_num              19833 non-null  int64
 3   away_team_num              19833 non-null  int64
 4   league_year_end            19833 non-null  int64
 5   home_line                  19828 non-null  float64
 6   fd_line_home               587 non-null    float64
 7   dk_line_home               562 non-null    float64
 8   covers_consenses_home      587 non-null    float64
 9   wins                       19586 non-null  float64
 10  losses                     19586 non-null  float64
 11  win_pct                    19586 non-null  float64
 12  expected_wins              19586 non-null  float64
 13  expected_losses            19586 non-null  float64
 14  home_ppg                   19586 non-null  float64
 15  home_papg                  19586 non-null  float64
 16  away_wins                  19605 non-null  float64
 17  away_losses                19605 non-null  float64
 18  away_win_pct               19605 non-null  float64
 19  away_expected_wins         19605 non-null  float64
 20  away_expected_losses       19605 non-null  float64
 21  away_ppg                   19605 non-null  float64
 22  away_papg                  19605 non-null  float64
 23  g                          19586 non-null  float64
 24  mp                         19586 non-null  float64
 25  pts                        19586 non-null  float64
 26  ast                        19586 non-null  float64
 27  trb                        19586 non-null  float64
 28  blk                        19586 non-null  float64
 29  stl                        19586 non-null  float64
 30  tov                        19586 non-null  float64
 31  pf                         19586 non-null  float64
 32  drb                        19586 non-null  float64
 33  orb                        19586 non-null  float64
 34  fg                         19586 non-null  float64
 35  fga                        19586 non-null  float64
 36  fg_pct                     19586 non-null  float64
 37  fg2                        19586 non-null  float64
 38  fg2a                       19586 non-null  float64
 39  fg2_pct                    19586 non-null  float64
 40  fg3                        19586 non-null  float64
 41  fg3a                       19586 non-null  float64
 42  fg3_pct                    19586 non-null  float64
 43  ft                         19586 non-null  float64
 44  fta                        19586 non-null  float64
 45  ft_pct                     19586 non-null  float64
 46  away_g                     19608 non-null  float64
 47  away_mp                    19608 non-null  float64
 48  away_pts                   19608 non-null  float64
 49  away_ast                   19608 non-null  float64
 50  away_trb                   19608 non-null  float64
 51  away_blk                   19608 non-null  float64
 52  away_stl                   19608 non-null  float64
 53  away_tov                   19608 non-null  float64
 54  away_pf                    19608 non-null  float64
 55  away_drb                   19608 non-null  float64
 56  away_orb                   19608 non-null  float64
 57  away_fg                    19608 non-null  float64
 58  away_fga                   19608 non-null  float64
 59  away_fg_pct                19608 non-null  float64
 60  away_fg2                   19608 non-null  float64
 61  away_fg2a                  19608 non-null  float64
 62  away_fg2_pct               19608 non-null  float64
 63  away_fg3                   19608 non-null  float64
 64  away_fg3a                  19608 non-null  float64
 65  away_fg3_pct               19608 non-null  float64
 66  away_ft                    19608 non-null  float64
 67  away_fta                   19608 non-null  float64
 68  away_fta_pct               19608 non-null  float64
dtypes: float64(65), int64(3), object(1)
memory usage: 10.4+ MB

In [5]:
df.head()

,game_id,TARGET_actual_home_margin,home_team_num,away_team_num,league_year_end,home_line,fd_line_home,dk_line_home,covers_consenses_home,wins,losses,win_pct,expected_wins,expected_losses,home_ppg,home_papg,away_wins,away_losses,away_win_pct,away_expected_wins,away_expected_losses,away_ppg,away_papg,g,mp,pts,ast,trb,blk,stl,tov,pf,drb,orb,fg,fga,fg_pct,fg2,fg2a,fg2_pct,fg3,fg3a,fg3_pct,ft,fta,ft_pct,away_g,away_mp,away_pts,away_ast,away_trb,away_blk,away_stl,away_tov,away_pf,away_drb,away_orb,away_fg,away_fga,away_fg_pct,away_fg2,away_fg2a,away_fg2_pct,away_fg3,away_fg3a,away_fg3_pct,away_ft,away_fta,away_fta_pct
0,20211020NYKBOS,4.0,20,3,22,-2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20211101NYKTOR,-9.0,20,28,22,-7.0,NaN,NaN,NaN,5.0,1.0,0.833,4.0,2.0,117.0,109.8,4.0,3.0,0.571,4.0,3.0,103.7,99.7,6.0,1490.0,702.0,143.0,276.0,38.0,46.0,77.0,122.0,218.0,58.0,254.0,546.0,0.465,154.0,300.0,0.513,100.0,246.0,0.407,94.0,129.0,0.729,7.0,1680.0,726.0,138.0,339.0,25.0,78.0,93.0,130.0,238.0,101.0,274.0,643.0,0.426,200.0,415.0,0.482,74.0,228.0,0.325,104.0,139.0,0.748
2,20211110CHIDAL,10.0,5,7,22,-3.5,NaN,NaN,NaN,7.0,3.0,0.700,7.0,3.0,108.9,101.9,7.0,3.0,0.700,4.0,6.0,102.4,104.7,10.0,2400.0,1089.0,229.0,446.0,54.0,88.0,119.0,175.0,352.0,94.0,403.0,873.0,0.462,308.0,604.0,0.510,95.0,269.0,0.353,188.0,219.0,0.858,10.0,2400.0,1024.0,205.0,459.0,46.0,67.0,129.0,198.0,355.0,104.0,377.0,874.0,0.431,251.0,477.0,0.526,126.0,397.0,0.317,144.0,203.0,0.709
3,20211108CHIBKN,23.0,5,2,22,1.0,NaN,NaN,NaN,6.0,3.0,0.667,6.0,3.0,107.9,102.7,7.0,3.0,0.700,6.0,4.0,106.1,103.3,9.0,2160.0,971.0,208.0,390.0,49.0,80.0,110.0,158.0,311.0,79.0,357.0,775.0,0.461,271.0,537.0,0.505,86.0,238.0,0.361,171.0,199.0,0.859,10.0,2400.0,1061.0,245.0,457.0,54.0,61.0,147.0,189.0,386.0,71.0,390.0,834.0,0.468,259.0,487.0,0.532,131.0,347.0,0.378,150.0,193.0,0.777
4,20211112BOSMIL,9.0,3,17,22,-5.5,NaN,NaN,NaN,5.0,6.0,0.455,6.0,5.0,108.4,108.2,6.0,6.0,0.500,6.0,6.0,108.1,107.9,11.0,2765.0,1192.0,250.0,499.0,72.0,94.0,152.0,219.0,386.0,113.0,439.0,1011.0,0.434,301.0,597.0,0.504,138.0,414.0,0.333,176.0,228.0,0.772,12.0,2880.0,1297.0,261.0,557.0,54.0,91.0,155.0,217.0,433.0,124.0,475.0,1082.0,0.439,300.0,592.0,0.507,175.0,490.0,0.357,172.0,233.0,0.738

## PyCaret

<a id=setup></a>

### Setup and Preprocessing

In [6]:
features_to_drop = ['game_id']

In [7]:
model_ready_df = df.drop(columns=features_to_drop)

In [8]:
# model_ready_df.info()

The setup process involves a lot of options. Reference the docs below:   
https://pycaret.readthedocs.io/en/latest/api/regression.html#module-pycaret.regression

In [9]:
setup_params = {'log_experiment': True,
                'log_profile': False,
                'log_plots': False,
                'experiment_name': 'NBA_Betting_1',
                'data': model_ready_df,
                'target': 'TARGET_actual_home_margin',
                'train_size': 0.7,
                'preprocess': True,
                'normalize': False,        # zscore
                'transformation': False,   # yeo-johnson power transform to make data more Gaussian
                'remove_outliers': False,  # using SVD
                'remove_multicollinearity': False,
                'polynomial_features': False,
                'trigonometry_features': False,
                'feature_interaction': False,
                'feature_ratio': False,
                'feature_selection': False,
                'feature_selection_threshold': 0.8,
                'pca': False,
                'pca_components': 10,
                'numeric_features': ['league_year_end'],
                'ignore_features': ['dk_line_home', 'fd_line_home', 'covers_consenses_home', 'home_line']
               }

In [10]:
nba_betting_regression = setup(**setup_params)

WARNING:root:Malformed experiment 'mlruns'. Detailed error Yaml file '/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML/mlruns/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 256, in list_experiments
    experiment = self._get_experiment(exp_id, view_type)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 336, in _get_experiment
    meta = read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/utils/file_utils.py", line 175, in read_yaml
    raise MissingConfigException("Yaml file '%s' does not exist." % file_path)
mlflow.exceptions.MissingConfigException: Yaml file '/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML/mlruns/meta.yaml' does not exist.
WARNING:logs:Couldn't create mlflow experiment. Exception:
WARNING:logs:Traceback (most recent call last):
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/pycaret/internal/tabular.py", line 1738, in setup
    mlflow.create_experiment(exp_name_log)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/tracking/fluent.py", line 868, in create_experiment
    return MlflowClient().create_experiment(name, artifact_location)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/tracking/client.py", line 500, in create_experiment
    return self._tracking_client.create_experiment(name, artifact_location)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/tracking/_tracking_service/client.py", line 167, in create_experiment
    return self.store.create_experiment(name=name, artifact_location=artifact_location,)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 313, in create_experiment
    self._validate_experiment_name(name)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 308, in _validate_experiment_name
    databricks_pb2.RESOURCE_ALREADY_EXISTS,
mlflow.exceptions.MlflowException: Experiment 'NBA_Betting_1' already exists.

WARNING:root:Malformed experiment 'mlruns'. Detailed error Yaml file '/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML/mlruns/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 256, in list_experiments
    experiment = self._get_experiment(exp_id, view_type)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 336, in _get_experiment
    meta = read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/utils/file_utils.py", line 175, in read_yaml
    raise MissingConfigException("Yaml file '%s' does not exist." % file_path)
mlflow.exceptions.MissingConfigException: Yaml file '/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML/mlruns/meta.yaml' does not exist.
INFO:logs:SubProcess save_model() called ==================================
INFO:logs:Initializing save_model()
INFO:logs:save_model(model=Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True,
                                      features_todrop=['dk_line_home',
                                                       'fd_line_home',
                                                       'covers_consenses_home',
                                                       'home_line'],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=['league_year_end'],
                                      target='TARGET_actual_home_margin',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categor...
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='TARGET_actual_home_margin')),
                ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False), model_name=Transformation Pipeline, prep_pipe_=Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True,
                                      features_todrop=['dk_line_home',
                                                       'fd_line_home',
                                                       'covers_consenses_home',
                                                       'home_line'],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=['league_year_end'],
                                      target='TARGET_actual_home_margin',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categor...
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='TARGET_actual_home_margin')),
                ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False), verbose=False, kwargs={})
INFO:logs:Adding model into prep_pipe
WARNING:logs:Only Model saved as it was a pipeline.
INFO:logs:Transformation Pipeline.pkl saved in current working directory
INFO:logs:Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True,
                                      features_todrop=['dk_line_home',
                                                       'fd_line_home',
                                                       'covers_consenses_home',
                                                       'home_line'],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=['league_year_end'],
                                      target='TARGET_actual_home_margin',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categor...
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='TARGET_actual_home_margin')),
                ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False)
INFO:logs:save_model() successfully completed......................................
INFO:logs:SubProcess save_model() end ==================================
INFO:logs:create_model_container: 0
INFO:logs:master_model_container: 0
INFO:logs:display_container: 1
INFO:logs:Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True,
                                      features_todrop=['dk_line_home',
                                                       'fd_line_home',
                                                       'covers_consenses_home',
                                                       'home_line'],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=['league_year_end'],
                                      target='TARGET_actual_home_margin',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categor...
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='TARGET_actual_home_margin')),
                ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False)

INFO:logs:setup() succesfully completed......................................

<a id=compare></a>

### Compare Models

In [11]:
best_3_models = compare_models(n_select=3)

INFO:logs:create_model_container: 20
INFO:logs:master_model_container: 20
INFO:logs:display_container: 2
INFO:logs:[Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001), BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, alpha_init=None,
              compute_score=False, copy_X=True, fit_intercept=True,
              lambda_1=1e-06, lambda_2=1e-06, lambda_init=None, n_iter=300,
              normalize=False, tol=0.001, verbose=False), ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=355, selection='cyclic', tol=0.0001, warm_start=False)]
INFO:logs:compare_models() succesfully completed......................................

<a id=create></a>

### Create Selected Model

In [12]:
model = create_model('ridge')

INFO:logs:create_model_container: 21
INFO:logs:master_model_container: 21
INFO:logs:display_container: 3
INFO:logs:Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001)
INFO:logs:create_model() succesfully completed......................................

<a id=tune></a>

### Tune Selected Model

In [13]:
tuned_model = tune_model(model)

INFO:logs:create_model_container: 22
INFO:logs:master_model_container: 22
INFO:logs:display_container: 4
INFO:logs:Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001)
INFO:logs:tune_model() succesfully completed......................................

<a id=evaluate></a>

### Evaluate Model

https://pycaret.readthedocs.io/en/latest/api/regression.html#pycaret.regression.evaluate_model

In [14]:
evaluate_model(tuned_model)

INFO:logs:Initializing evaluate_model()
INFO:logs:evaluate_model(estimator=Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001), fold=None, fit_kwargs=None, feature_name=None, groups=None, use_train_data=False)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

https://pycaret.readthedocs.io/en/latest/api/regression.html#pycaret.regression.interpret_model

In [15]:
# interpret_model(tuned_model)

<a id=finalize_and_store></a>

### Model Finalization and Storage

In [16]:
final_model = finalize_model(tuned_model)

INFO:logs:Initializing finalize_model()
INFO:logs:finalize_model(estimator=Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001), fit_kwargs=None, groups=None, model_only=True, display=None)
INFO:logs:Finalizing Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001)
INFO:logs:Initializing create_model()
INFO:logs:create_model(estimator=Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001), fold=None, round=4, cross_validation=True, predict=True, fit_kwargs={}, groups=None, refit=True, verbose=False, system=False, metrics=None, add_to_model_list=False, probability_threshold=None, display=None, kwargs={})
INFO:logs:Checking exceptions
INFO:logs:Importing libraries
INFO:logs:Copying training dataset
INFO:logs:Defining folds
INFO:logs:Declaring metric variables
INFO:logs:Importing untrained model
INFO:logs:Declaring custom model
INFO:logs:Ridge Regression Imported succesfully
INFO:logs:Starting cross validation
INFO:logs:Cross validating with KFold(n_splits=10, random_state=None, shuffle=False), n_jobs=-1
INFO:logs:Calculating mean and std
INFO:logs:Creating metrics dataframe
INFO:logs:Finalizing model
INFO:logs:create_model_container: 22
INFO:logs:master_model_container: 22
INFO:logs:display_container: 5
INFO:logs:Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001)
INFO:logs:create_model() succesfully completed......................................
INFO:logs:Creating MLFlow logs
WARNING:root:Malformed experiment 'mlruns'. Detailed error Yaml file '/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML/mlruns/meta.yaml' does not exist.
Traceback (most recent call last):
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 256, in list_experiments
    experiment = self._get_experiment(exp_id, view_type)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/store/tracking/file_store.py", line 336, in _get_experiment
    meta = read_yaml(experiment_dir, FileStore.META_DATA_FILE_NAME)
  File "/home/jeff/anaconda3/lib/python3.7/site-packages/mlflow/utils/file_utils.py", line 175, in read_yaml
    raise MissingConfigException("Yaml file '%s' does not exist." % file_path)
mlflow.exceptions.MissingConfigException: Yaml file '/home/jeff/Documents/Data_Science_Projects/NBA_Betting/models/AutoML/mlruns/meta.yaml' does not exist.
INFO:logs:Model: Ridge Regression
INFO:logs:logged params: {'alpha': 8.94, 'copy_X': True, 'fit_intercept': True, 'max_iter': None, 'normalize': False, 'random_state': 355, 'solver': 'auto', 'tol': 0.001}
INFO:logs:Initializing predict_model()
INFO:logs:predict_model(estimator=Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001), probability_threshold=None, encoded_labels=False, raw_score=False, round=4, verbose=False, ml_usecase=None, display=None)
INFO:logs:Checking exceptions
INFO:logs:Preloading libraries
INFO:logs:create_model_container: 22
INFO:logs:master_model_container: 22
INFO:logs:display_container: 4
INFO:logs:Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001)
INFO:logs:finalize_model() succesfully completed......................................

In [17]:
# save_model(final_model, '../models/AutoML/Baseline_Ridge_Reg_PyCaret')

INFO:logs:Initializing save_model()
INFO:logs:save_model(model=Ridge(alpha=8.94, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=355, solver='auto', tol=0.001), model_name=../models/AutoML/Baseline_Ridge_Reg_PyCaret, prep_pipe_=Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True,
                                      features_todrop=['dk_line_home',
                                                       'fd_line_home',
                                                       'covers_consenses_home',
                                                       'home_line'],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=['league_year_end'],
                                      target='TARGET_actual_home_margin',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categor...
                ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                ('cluster_all', 'passthrough'),
                ('dummy', Dummify(target='TARGET_actual_home_margin')),
                ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough')],
         verbose=False), verbose=True, kwargs={})
INFO:logs:Adding model into prep_pipe
INFO:logs:../models/AutoML/Baseline_Ridge_Reg_PyCaret.pkl saved in current working directory
INFO:logs:Pipeline(memory=None,
         steps=[('dtypes',
                 DataTypes_Auto_infer(categorical_features=[],
                                      display_types=True,
                                      features_todrop=['dk_line_home',
                                                       'fd_line_home',
                                                       'covers_consenses_home',
                                                       'home_line'],
                                      id_columns=[], ml_usecase='regression',
                                      numerical_features=['league_year_end'],
                                      target='TARGET_actual_home_margin',
                                      time_features=[])),
                ('imputer',
                 Simple_Imputer(categor...
                ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                ('clean_names', Clean_Colum_Names()),
                ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                ('dfs', 'passthrough'), ('pca', 'passthrough'),
                ['trained_model',
                 Ridge(alpha=8.94, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=False, random_state=355,
                       solver='auto', tol=0.001)]],
         verbose=False)
INFO:logs:save_model() successfully completed......................................

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True,
                                       features_todrop=['dk_line_home',
                                                        'fd_line_home',
                                                        'covers_consenses_home',
                                                        'home_line'],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=['league_year_end'],
                                       target='TARGET_actual_home_margin',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categor...
                 ('fix_perfect', Remove_100(target='TARGET_actual_home_margin')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  Ridge(alpha=8.94, copy_X=True, fit_intercept=True,
                        max_iter=None, normalize=False, random_state=355,
                        solver='auto', tol=0.001)]],
          verbose=False),
 '../models/AutoML/Baseline_Ridge_Reg_PyCaret.pkl')

In [18]:
# !mlflow ui